html{
    background-color: darkslateblue;
}
body {  
    width: 600px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: cornflowerblue;
    text-shadow: 3px 3px 1px black;
    font-size: 60px;
    text-align: center;
}
img {
    display: block;
    margin: 0 auto;
    max-width: 70%;
}
  
p {
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0.5px;
    text-align: center;
    color: cornflowerblue;
    text-shadow: 2px 2px 1px black;
}
li{
    font-size: 24px;
    line-height: 1;
    letter-spacing: 1px;
    text-align: center;
    color: cornflowerblue;
    text-shadow: 1px 1px 1px black;
}
